In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import sklearn.metrics
import sklearn.model_selection

In [3]:
#MNIST 데이터셋 예제.

In [6]:
from sklearn.datasets import fetch_openml #인터넷에서 자동으로 데이터셋 다운

In [7]:
mnist = fetch_openml("mnist_784" , version =1)

In [8]:
type(mnist)

sklearn.utils.Bunch

In [9]:
mnist.keys()

dict_keys(['data', 'target', 'frame', 'categories', 'feature_names', 'target_names', 'DESCR', 'details', 'url'])

In [12]:
#print(mnist.DESCR)

In [13]:
X , y = mnist["data"], mnist["target"]

In [19]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [20]:
X.shape 

# 28*28 = 784개의 pixel을 가지고있다.
# 흑백그림에서 흰색은 0, 검은색은 255로 표현된다.

(70000, 784)

In [21]:
y.shape

(70000,)

In [23]:
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [24]:
#@@@@@@@@@@교수님꺼에서 찾아보기@@@@@@@@@@

In [25]:
#7만개의 데이터를 학습용과 테스트용 데이터로 분리하자

In [54]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X,y,test_size = 0.2, random_state=42)

In [62]:
y_train_5 = (y_train == 5) # y_train이 5인것은 True로 표시, 5가 아니면 False로 표시
y_test_5 = (y_test == 5)

In [63]:
import sklearn.tree

In [64]:
my_model = sklearn.tree.DecisionTreeClassifier() #학습되지않은 결정트리 모델을 하나 생성

In [65]:
# 모든 모델들은 fit() 메소드를 사용한다.
# model.fit(feature, output) 이런형식으로

In [82]:
my_model.fit(X_train,y_train_5)

DecisionTreeClassifier()

In [67]:
#에러없이 끝났다면 my_model의 학습이 끝났다

In [68]:
## 예측을 할때는 predict()메소드 사용

In [83]:
y_pred_5 = my_model.predict(X_test) # predict에서는 문제만 넣는다.

In [84]:
#예측의 성능평가

#@@@@@@기말고사에 나옴 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ@@@@@@

# TP 진짜 양성, 실제로 맞는것을 맞다고 예측
# TN 진짜 음성, 실제로 틀린것을 틀리다고 예측
# FP 거짓 양성, 실제로는 틀린데 맞다고 #예측 타입1 에러
# FN 거짓 음석, 실제로는 맞는데 틀리다고 #예측 타입2 에러

In [85]:
from sklearn.metrics import confusion_matrix

In [86]:
#실제 사용할때, confusion_matrix (y_True, y_prediction) 넣고실행

In [87]:
confusion_matrix(y_test_5, y_pred_5)

array([[14000]], dtype=int64)

In [74]:
#실제로는 [TN, FN]
#         [FP, TP] 가 생성

In [75]:
#ravel사용하면 따로따로 가능

tn, fp, fn, tp = confusion_matrix(y_test_5, y_pred_5).ravel()

ValueError: not enough values to unpack (expected 4, got 1)

In [76]:
# @@@추가적인 지표 -> 교수님껄로@@@@@@@@

# 정밀도

# 재현율

# F1 - score

In [77]:
from sklearn.metrics import f1_score, precision_score, recall_score

In [80]:
precision_score(y_test_5, y_pred_5)

0.0

In [89]:
recall_score(y_test_5, y_pred_5)

0.0

In [95]:
iris = pd.read_csv("iris.csv")
iris

,sepal_length,sepal_width,petal_length,petal_width,species_name,species_No
0,5.1,3.5,1.4,0.2,Setosa,1
1,4.9,3.0,1.4,0.2,Setosa,1
2,4.7,3.2,1.3,0.2,Setosa,1
3,4.6,3.1,1.5,0.2,Setosa,1
4,5.0,3.6,1.4,0.2,Setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Virginica,3
146,6.3,2.5,5.0,1.9,Virginica,3
147,6.5,3.0,5.2,2.0,Virginica,3
148,6.2,3.4,5.4,2.3,Virginica,3
149,5.9,3.0,5.1,1.8,Virginica,3

In [98]:
iris.drop("species_No", axis=1, inplace=True) #<< species 지우기

In [ ]:
#교수님꺼 보자;