In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('코로나확진자날짜.csv')

In [3]:
df

             Date  경기도연번
0      2021-04-14  31189
1      2021-04-14  31188
2      2021-04-14  31187
3      2021-04-14  31186
4      2021-04-14  31185
...           ...    ...
31184  2020-02-02      5
31185  2020-02-02      4
31186  2020-02-01      3
31187  2020-01-27      2
31188  2020-01-26      1

[31189 rows x 2 columns]

In [4]:
확진일자 = []
경기도일일확진자수 = []
date = []

In [5]:
for i in df['Date']:
    확진일자.append(i)
    date.append(i)

In [6]:
확진일자 = set(확진일자)
확진일자 = list(확진일자)
확진일자.sort()
for i in 확진일자:
    확진자 = date.count(i)
    경기도일일확진자수.append(확진자)

In [7]:
savedf = pd.DataFrame(list(zip(확진일자,경기도일일확진자수)), columns =['date','경기일일확진자수'])

In [8]:
savedf

           date  경기일일확진자수
0    2020-01-26         1
1    2020-01-27         1
2    2020-02-01         1
3    2020-02-02         2
4    2020-02-05         2
..          ...       ...
418  2021-04-10       199
419  2021-04-11       164
420  2021-04-12       171
421  2021-04-13       241
422  2021-04-14       215

[423 rows x 2 columns]

In [9]:
savedf.to_csv('경기도 코로나일일확진자.csv', encoding = 'utf-8-sig', index_label = False, index = False)