In [10]:
import pytimekr


import pandas as pd
df = pd.read_csv('최종데이터(수정금지).csv')
df2 =pd.read_csv('날씨최종.csv')

In [11]:
df3 = pd.merge(df, df2, on ='date')

In [12]:
df3.to_csv('최종+날씨진짜최종.csv', encoding = 'utf-8-sig', index_label = False, index = False)

In [13]:
df4 =pd.read_csv('최종+날씨진짜최종.csv')

In [14]:
df4

,date,bus,subway,경기전날,서울전날,수도권일일,수도권누적,주말/공휴일,거리두기,마스크,4인집합,평균기온(°C),일강수량(mm),평균 풍속(m/s),평균 상대습도(%),합계 일조시간(hr),일 최심신적설(cm)
0,2019-02-01,5650953,7979109,0,0,0,0,0,0.0,0,0,-2.1,0.3,1.7,47.6,5.7,0.2
1,2019-02-02,3715619,5079486,0,0,0,0,1,0.0,0,0,1.4,0.0,1.0,60.0,1.6,0.0
2,2019-02-03,2504108,3412440,0,0,0,0,1,0.0,0,0,3.3,16.0,1.7,92.9,0.0,0.0
3,2019-02-04,2064485,2941955,0,0,0,0,1,0.0,0,0,-0.6,0.0,2.1,40.4,8.6,0.0
4,2019-02-05,1862627,2837335,0,0,0,0,1,0.0,0,0,2.8,0.0,1.0,37.1,7.8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,2021-02-24,4418700,6431251,142,144,286,50684,0,2.0,1,1,2.9,0.0,1.8,33.0,8.4,0.0
755,2021-02-25,4405059,6389834,138,119,257,50941,0,2.0,1,1,4.2,0.0,1.4,35.1,0.0,0.0
756,2021-02-26,4515784,6669860,143,130,273,51214,0,2.0,1,1,8.2,0.0,2.3,35.0,9.1,0.0
757,2021-02-27,3217551,4531692,166,127,293,51507,1,2.0,1,1,9.5,0.0,3.4,48.6,10.3,0.0
758,2021-02-28,2418718,3346951,141,119,260,51767,1,2.0,1,1,7.8,0.0,2.1,49.0,2.6,0.0