In [ ]:
#201
def print_coin():
    print("비트코인")

In [ ]:
#202
print_coin()

In [ ]:
#203
for i in range(100):
    print_coin()

In [4]:
#204
def print_coins():
    for i in range(100):
        print("비트코인")
print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [5]:
#205
#hello를 먼저 정의하여야 한다.

In [6]:
#206
# A
# B
# C
# A
# B

In [7]:
#207
# A
# C
# B

In [8]:
#208
# A
# C
# B
# E
# D

In [9]:
#209
# B
# A

In [10]:
#210
# B
# C
# B
# C
# B
# C
# A

In [11]:
#211
# 안녕
# Hi

In [12]:
#212
# 7
# 15

In [13]:
#213
# 문자열 안에 아무것도 없기때문에 print((공백)) 이 되므로 에러가 난다.

In [14]:
#214
# 안녕은 문자이고 3은숫자이기때문에

In [15]:
#215
def print_with_smile(a):
    print(a + ":D")

In [16]:
#216
print_with_smile("안녕하세요")

안녕하세요:D

In [17]:
#217
def print_upper_price(a):
    print(a*1.3)

In [18]:
#218
def print_sum(a,b):
    print(a+b)

In [19]:
#219
def print_arithmetic_operation(a,b):
    print(a, "+", b, "=", a+b)
    print(a, "-", b, "=", a-b)
    print(a, "*", b, "=", a*b)
    print(a, "/", b, "=", a/b)
    
print_arithmetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [20]:
#220
def print_max(a,b,c):
    if a >= b and a >= c:
        print(a)
    elif b >= a and b >=c:
        print(b)
    else:
        print(c)

In [21]:
#231
# 함수안에서 사용한 변수는 함수 밖에서 불러올수없기에 에러가 난다.

In [22]:
#232
def make_url(a):
    url = "www."+ a+".com"
    return url
make_url("naver")

'www.naver.com'

In [23]:
#233
def make_list(a):
    l = []
    for x in a:
        l.append(x)
    return l
make_list("abcd")

['a', 'b', 'c', 'd']

In [24]:
#234
def pickup_even(a):
    l = []
    for x in a:
        if x % 2 == 0:
            l.append(x)
    return l
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [25]:
#235
def convert_int(a):
    x = int(a.replace(",",""))
    return x

convert_int("1,234,567")

1234567

In [26]:
#236
# 22

In [27]:
#237
# 22

In [28]:
#238
# 140

In [29]:
#239
# 16

In [30]:
#240
# 28

In [31]:
#291
f = open("매수종목1.txt", mode="wt")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [32]:
#292
f = open("매수종목2.txt", mode="wt")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER")
f.close()

In [33]:
#293
import csv

f = open("매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [34]:
#294
f = open("매수종목1.txt", "r" )
lines = f.readlines()

l = []

for line in lines:
    x = line.strip()
    l.append(x)
    
print(l)

f.close

['005930', '005380', '035420']

In [35]:
#295
f = open("매수종목2.txt")
lines = f.readlines()

l = {}

for line in lines:
    x = line.strip()
    a,b = line.split()
    l[a] =b
    
print(l)
f.close

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [36]:
#296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [37]:
#297
per = ["10.31", "", "8.00"]

l = []
for i in per:
    try:
        l.append(float(i))
    
    except:
        l.append(0)
     
print(l)

[10.31, 0, 8.0]

In [38]:
#298
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

0으로 나누면 안되요

In [39]:
#299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [40]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0,"\n에러있음")
    else:
        print("에러없음")
    finally:
        print("완료\n")

10.31
에러없음
완료

0
에러있음
완료

8.0
에러없음
완료

In [41]:
#251
# 클래스는 틀
# 클래스로 찍어낸 하나의 집합은 객체
# 물리적인 저장의 일부

In [42]:
#252
class Human:
    pass

In [43]:
#253
class Human:
    pass

areum = Human()

In [44]:
#254
class Human:
    def __init__(self):
        print("응애응애")
        
areum = Human()

응애응애

In [45]:
#255
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("아름", 25, "여자")

print(areum.name)
print(areum.age)
print(areum.sex)

아름
25
여자

In [46]:
#256
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("아름", 25, "여자")

print(areum.name)
print(areum.age)
print(areum.sex)

아름
25
여자

In [47]:
#257
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print("이름 =",self.name,"\b, 나이 =",self.age,"\b, 성별 =",self.sex)

areum = Human("아름", 25, "여자")
areum.who()

이름 = 아름, 나이 = 25, 성별 = 여자

In [48]:
#258
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름 =",self.name,"\b, 나이 =",self.age,"\b, 성별 =",self.sex)

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("모름", 0, "모름")
areum.who()  

areum.setInfo("아름", 25, "여자")
areum.who()

이름 = 모름, 나이 = 0, 성별 = 모름
이름 = 아름, 나이 = 25, 성별 = 여자

In [49]:
#259
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름 =",self.name,"\b, 나이 =",self.age,"\b, 성별 =",self.sex)

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    
    def __del__(self):
        print("나의 죽음을 알리지 말라")
    
areum = Human("아름", 25, "여자")

In [50]:
#260
#모르겠어요

In [51]:
#261
class Stock:
    pass

In [52]:
#262
class stock:
    def __init__(self, 종목명, 종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        
삼성 = stock("삼성전자", "005930")    
print(삼성.종목명)
print(삼성.종목코드)

삼성전자
005930

In [53]:
#263
class stock:
    def __init__(self, 종목명, 종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        
    def set_name(self, 종목명):
        self.종목명 = 종목명
        
a = stock(None, None)
a.set_name("삼성전자")       

print(a.종목명)

삼성전자

In [54]:
#264
class stock:
    def __init__(self, 종목명, 종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        
    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
        
a = stock(None, None)
a.set_code("005930")       

print(a.종목코드)

005930

In [55]:
#265
class stock:
    def __init__(self, 종목명, 종목코드):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
    
    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
        
    def set_name(self, 종목명):
        self.종목명 = 종목명
    
    def get_name(self):
        return self.종목명
    
    def get_code(self):
        return self.종목코드

삼성 = stock("삼성전자", "005930")
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930

In [56]:
#266
class stock:
    def __init__(self, 종목명, 종목코드,PER,PBR,배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
    
    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
        
    def set_name(self, 종목명):
        self.종목명 = 종목명
    
    def get_name(self):
        return self.종목명
    
    def get_code(self):
        return self.종목코드

In [57]:
#267
class stock:
    def __init__(self, 종목명, 종목코드,PER,PBR,배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
    
    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
        
    def set_name(self, 종목명):
        self.종목명 = 종목명
    
    def get_name(self):
        return self.종목명
    
    def get_code(self):
        return self.종목코드
    
삼성 = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.종목명)
print(삼성.종목코드) 
print(삼성.PER)
print(삼성.PBR)
print(삼성.배당수익률)

삼성전자
005930
15.79
1.33
2.83

In [58]:
#268
class stock:
    def __init__(self, 종목명, 종목코드,PER,PBR,배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
    
    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
        
    def set_name(self, 종목명):
        self.종목명 = 종목명
    
    def get_name(self):
        return self.종목명
    
    def get_code(self):
        return self.종목코드

    def set_PER(self,PER):
        self.PER = PER
    
    def set_PBR(self,PBR):
        self.PBR = PBR
    
    def set_배당수익률(self,배당수익률):
        self.배당수익률 = 배당수익률

In [59]:
#269
class stock:
    def __init__(self, 종목명, 종목코드,PER,PBR,배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
    
    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
        
    def set_name(self, 종목명):
        self.종목명 = 종목명
    
    def get_name(self):
        return self.종목명
    
    def get_code(self):
        return self.종목코드

    def set_PER(self,PER):
        self.PER = PER
    
    def set_PBR(self,PBR):
        self.PBR = PBR
    
    def set_배당수익률(self,배당수익률):
        self.배당수익률 = 배당수익률

삼성 = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.종목명)
print(삼성.종목코드) 
print(삼성.PER)
print(삼성.PBR)
print(삼성.배당수익률)

print("========")
삼성.set_PER(12.75)

print(삼성.종목명)
print(삼성.종목코드) 
print(삼성.PER)
print(삼성.PBR)
print(삼성.배당수익률)

삼성전자
005930
15.79
1.33
2.83
========
삼성전자
005930
12.75
1.33
2.83

In [60]:
class stock:
    def __init__(self, 종목명, 종목코드,PER,PBR,배당수익률):
        self.종목명 = 종목명
        self.종목코드 = 종목코드
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
    
    def set_code(self, 종목코드):
        self.종목코드 = 종목코드
        
    def set_name(self, 종목명):
        self.종목명 = 종목명
    
    def get_name(self):
        return self.종목명
    
    def get_code(self):
        return self.종목코드

    def set_PER(self,PER):
        self.PER = PER
    
    def set_PBR(self,PBR):
        self.PBR = PBR
    
    def set_배당수익률(self,배당수익률):
        self.배당수익률 = 배당수익률

종목 = []

삼성 = stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for x in 종목:
    print("종목코드 =",x.종목코드, "\b, PER =", x.PER)

종목코드 = 005930, PER = 15.79
종목코드 = 005380, PER = 8.7
종목코드 = 066570, PER = 317.34