In [1]:
print("hello world")

hello world

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
print('"C:\Windows"')

"C:\Windows"

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

\n은 줄 바꾸기(엔터)
\t는 띄어쓰기(tap) 개념이다

SyntaxError: unexpected character after line continuation character (<ipython-input-5-c6d284e1cb1a>, line 3)

In [ ]:
오늘은 일요일<< 출력된다

In [ ]:
print("naver","kakao","sk","samsung",sep=";")

In [ ]:
print("naver","kakao","sk","samsung",sep="/")

In [ ]:
print("first", end="");print("second")

In [ ]:
print(5/3)

In [ ]:
삼성전자 = 50000
총평가금액 = 삼성전자 *10
print(총평가금액)

In [ ]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액)
print(현재가)
print(PER)

In [ ]:
s = "hello"
t = "python"
print(s+ "! " +t)

In [ ]:
8이 나올것이다 곱하기먼저라서

In [ ]:
a = "132"
print(type(a))

In [ ]:
num_str = "720"
num_int = int(num_str)
print(num_int)

In [ ]:
num = 100
num_str = str(num)
print(num_str)

In [ ]:
num_str = "15.79"
num_float = float(str)
print(num_float)

In [ ]:
year = "2020"
year_int = int(year)
print(year_int -1)
print(year_int -2)
print(year_int -3)

In [ ]:
month = 48584
price = 36 * month
print("총 금액 =", price)