In [ ]:
#Q1
국어 = 80
영어 = 75
수학 = 55
평균 = (국어 + 영어 + 수학) / 3
print(평균)

In [2]:
#Q2
자연수 = 13
나머지 = 13 % 2
print(나머지)
if 나머지 == 1 : 
    print("홀수")
else:
    print("짝수")

In [3]:
#Q3
주민번호 = "881120-1068234"

생년월일 = "19" + 주민번호[0:6]
print(생년월일)
뒷자리 = 주민번호[7:14]
print(뒷자리)

19881120
1068234

In [4]:
#Q4
pin = "881120-1068234"
print(pin[7])

1

In [5]:
#Q5
a = "a:b:c:d" .replace(":","#")
print(a)

a#b#c#d

In [6]:
#Q6
a = [1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [7]:
#Q7
" ".join(['Life', 'is', 'too', 'short'])

'Life is too short'

In [8]:
#Q8
t1 = (1,2,3)
t2 = (4,)
t1 + t2

(1, 2, 3, 4)

In [9]:
#Q9
a = dict()
a['[1]'] = 'python'

#으로하면 오류안난다(문자열 취급)

In [10]:
#10
a = {'A':90, 'B':80, 'C':70}
a.pop("B")

80

In [11]:
#11
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
set(a)

{1, 2, 3, 4, 5}

In [12]:
#12
#b는 그저 a를 저장한곳의 값을 가지고 오기 때문에 a의 값이 바뀌면 b의 값도 바뀐다

In [13]:
#031
34

34

In [14]:
#032
#HiHiHi

In [15]:
#033
a="-"
print(a*80)

--------------------------------------------------------------------------------

In [16]:
#034
t1 = 'python'
t2 = 'java'
t3 = t1 +" "+ t2+" "
print(t3*4)

python java python java python java python java

In [17]:
#035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : %s, 나이 : %d" % (name1, age1))
print("이름 : %s, 나이 : %d" % (name2, age2))

이름 : 김민수, 나이 : 10
이름 : 이철희, 나이 : 13

In [18]:
#036
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {}, 나이: {}".format(name1, age1))
print("이름: {}, 나이: {}".format(name2, age2))

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

In [19]:
#037
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1}, 나이: {age1}")
print(f"이름: {name2}, 나이: {age2}")

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

In [20]:
#038
상장주식수 = "5,969,782,550"
제거 = 상장주식수.replace(",","")
숫자형 = int(제거)
print(제거)

5969782550

In [21]:
#039
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [22]:
#040
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [23]:
#061
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [24]:
#062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [25]:
#063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [26]:
#064
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [27]:
#065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [28]:
#066
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [29]:
#067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [30]:
#068
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [31]:
#069
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [32]:
#070
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [33]:
#071
my_variable = ()

In [34]:
#072
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [35]:
#073
t = (1,)

In [36]:
#074
#튜플에선 값을 변경할수없음

In [37]:
#075
#튜플(괄호 없이도 사용가능)

In [38]:
#076
#튜플에선 값을 변경할수 없기에 다시 지정해주어야함
t = ('A', 'b', 'c')

In [39]:
#077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
t = list(interest)
print(t)

['삼성전자', 'LG전자', 'SK Hynix']

In [40]:
#078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
a = tuple(interest)
print(a)

('삼성전자', 'LG전자', 'SK Hynix')

In [41]:
#079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [42]:
#080
data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)