In [1]:
#1
names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")
print("1-1")
김 = []
이 = []
for i in names:
    if i[0] == "김":
        김.append(i)
    elif i[0] == "이":
        이.append(i)
print("김씨는",len(김),"명입니다.")
print("이씨는",len(이),"명입니다.")
#=====================================================
names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")
print("\n1-2")
이재영 = []
for i in names:
    if i == "이재영":
        이재영.append(i)
        
print("이재영은",len(이재영),"번 반복됩니다.")
#=====================================================
names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")
print("\n1-3")

중복제거 = set(names)

print(중복제거)
#=====================================================
names = "이유덕,이재영,권종표,이재영,박민호,강상희,이재영,김지완,최승혁,이성연,박영서,박민호,전경헌,송정환,김재성,이유덕,전경헌".split(",")
print("\n1-4")

중복제거 = set(names)

정렬 = sorted(중복제거)
print(정렬)

1-1
김씨는 2 명입니다.
이씨는 6 명입니다.

1-2
이재영은 3 번 반복됩니다.

1-3
{'박민호', '박영서', '권종표', '전경헌', '김재성', '송정환', '최승혁', '이유덕', '김지완', '이성연', '강상희', '이재영'}

1-4
['강상희', '권종표', '김재성', '김지완', '박민호', '박영서', '송정환', '이성연', '이유덕', '이재영', '전경헌', '최승혁']

In [2]:
#2
import cmath
a = float(input("첫번째 변의 길이 :"))
b = float(input("두번째 변의 길이 :"))
c = float(input("세번째 변의 길이 :"))
x = 0

if max(a, b, c) >= min(a,b,c) + (a+b+c-max(a,b,c)-min(a,b,c)):
    print ("\n삼각형이 아닙니다.")
else:
    s = (a + b+ c) /2
    A = cmath.sqrt(s * (s-a) * (s-b) * (s-c))
    r = A * 2 / (a + b +c)
    print("\n내접원의 반지름은 ",round(r.real,3),"입니다")

첫번째 변의 길이 : 12
두번째 변의 길이 : 12
세번째 변의 길이 : 8

내접원의 반지름은  2.828 입니다

In [3]:
#3

num = input("입력하신 숫자 =")
nums = []

for i in range(0, len(num)):
    nums.append(num[i])

if len(set(nums)) == len(nums):
    print("\nTrue, 0~9까지의 숫자가 각각 한 번 씩만 사용된 것입니다")
else:
    print("\nFalse, 0~9까지의 숫자가 각각 한 번 씩만 사용된 것이 아닙니다")

입력하신 숫자 = 123123131

False, 0~9까지의 숫자가 각각 한 번 씩만 사용된 것이 아닙니다

In [4]:
#4

n = int(input("반복할 숫자 n = "))
항1 = 0
항2 = 1
새항 = 0
for i in range(0, n):
    print((i+1),"번째항은 " ,항1 ,"입니다")
    새항 = 항1 + 항2
    항1 = 항2
    항2 = 새항

반복할 숫자 n =  12

1 번째항은  0 입니다
2 번째항은  1 입니다
3 번째항은  1 입니다
4 번째항은  2 입니다
5 번째항은  3 입니다
6 번째항은  5 입니다
7 번째항은  8 입니다
8 번째항은  13 입니다
9 번째항은  21 입니다
10 번째항은  34 입니다
11 번째항은  55 입니다
12 번째항은  89 입니다

In [5]:
#291
f = open("매수종목1.txt", mode="wt")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [6]:
#292
f = open("매수종목2.txt", mode="wt")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER")
f.close()

In [7]:
#293
import csv

f = open("매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [8]:
#294
f = open("매수종목1.txt", "r" )
lines = f.readlines()

l = []

for line in lines:
    x = line.strip()
    l.append(x)
    
print(l)

f.close

['005930', '005380', '035420']

In [9]:
#295
f = open("매수종목2.txt")
lines = f.readlines()

l = {}

for line in lines:
    x = line.strip()
    a,b = line.split()
    l[a] =b
    
print(l)
f.close

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [10]:
#296
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [11]:
#297
per = ["10.31", "", "8.00"]

l = []
for i in per:
    try:
        l.append(float(i))
    
    except:
        l.append(0)
     
print(l)

[10.31, 0, 8.0]

In [12]:
#298
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

0으로 나누면 안되요

In [13]:
#299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [14]:
#300
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0,"\n에러있음")
    else:
        print("에러없음")
    finally:
        print("완료\n")

10.31
에러없음
완료

0
에러있음
완료

8.0
에러없음
완료